//
// Pager pagination
// --------------------------------------------------


.pager {
	margin: rhythm() 0;
	list-style: none;
	text-align: center;
	@include clearfix();


	li {
		display: inline;

		a,
		span {
			display: inline-block;
			padding: $pager-padding;
			line-height: 1em;
			border-width: 1px;
			border-style: solid;
			@extend %pager-btn !optional;
			@include border-radius($base-border-radius);
		}

		a:hover,
		a:focus {
			text-decoration: none;
			@extend %pager-btn_hover !optional;
		}
	}

	.next > a,
	.next > span {
		float: right;
	}

	.previous > a,
	.previous > span {
		float: left;
	}

	.disabled > a,
	.disabled > a:hover,
	.disabled > a:focus,
	.disabled > span {
		cursor: default;
		@extend %pager-btn_disabled !optional;
	}

}