@if $easytabs == true {

	.tab-container {
		margin-bottom: rhythm();

		.etabs {
			margin: 0;
			padding: 0;
			@extend %tab-tabs-style;

			li {
				display: inline-block;
				zoom: 1;
				line-height: 1em;
				@include border-radius($base-border-radius $base-border-radius 0 0);
				a {
					display: block;
					padding: $input-padding;
					outline: none;
					&:hover {
						text-decoration: underline;
					}
				}

				&.active {
					position: relative;
					font-weight: bold;
					&:after {
						@include position(absolute, 0 0px -1px 0px);
						height: 2px;
						display: block;
						content: "";
					}
				}

			}
		}

		.panel-container {
			@extend %tab-container-style;
			padding: $input-padding;
			@include border-radius(0 $base-border-radius $base-border-radius );
		}

	}

}