
@if $default-styles {

	// Inputs
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%input {
		color: $text-color;
		border-color: $gray;
		background-color: $grayLighter;

		&:focus {
			background-color: $grayLight;
		}
	}

	%input-addon {
		color: $text-color;
		border-color: $grayLight;
		background-color: $grayLighter;
	}

	// Selects
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

	%select {
		color: $text-color;
		border-color: $gray;
		background-color: $grayLighter;

		&:hover {
			background-color: $grayLight;
		}
	}

	// Buttons
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

	// Default
	%btn {
		color: $text-color;
		border-color: $gray;
		background-color: $grayLight;

		// Hover/focus state
		&:hover,
		&:focus {
			background-color: darken($grayLight, 10% );
		}

		// Active state
		&.active,
		&:active {
			background-color: darken($grayLight, 20% );
		}
	}

	%btn-primary {
		color: #fff;
		border-color: darken(green, 10%);
		background-color: green;

		// Hover/focus state
		&:hover,
		&:focus {
			background-color: darken(green, 5%);
		}

		// Active state
		&.active,
		&:active {
			background-color: darken(green, 10%);
		}
	}


	%btn-secondary {
		color: #fff;
		border-color: darken(red, 10%);
		background-color: red;

		// Hover/focus state
		&:hover,
		&:focus {
			background-color: darken(red, 5%);
		}

		// Active state
		&.active,
		&:active {
			background-color: darken(red, 10%);
		}
	}

	%btn-warning {}
	%btn-danger {}
	%btn-info {}
	%btn-success {}
	%btn-inverse {}

	// Generic style for buttons used with the scripts
	%btn-scripts {
		@include alpha-color(#000, .6, background);
		color: #fff;
		cursor: pointer;
		display: block;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: #fff;
			@include alpha-color(#000, .8, background);
		}
	}


	// Captions
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%caption {
		@include alpha-color(#000, .8, background);
		color: #fff;
	}

	// Badges (Labels)
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%pill {
		background-color: $gray;
		color: $white;
	}

	// Dropdown
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%dropdown {
		background: $grayLighter;
		border-color: $gray;

		.divider { @include nav-divider($gray); margin-top: -1px }

		> li > a { border-bottom: 1px dotted $gray; }

		> li > a:hover,
		> li > a:focus {
		// .dropdown-submenu:hover > a,
		// .dropdown-submenu:focus > a {
			text-decoration: none;
			background-color: $grayLight;
		}
	}

	%dropdown-open {
		background: $grayLighter;
	    &:after {background-color: $grayLighter;}
	}


	// CARET per Dropdown e Select
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

	$caret-width: em(10px);

	%caret {
		min-width: $caret-width;
		&:after {
			@include icon-font(\f078);
			@include square(1em);
			font-size: $caret-width;
			text-align: center;
			z-index: 2;
		}
	}

	%caret-side {
		@extend %caret;
		&:after {
			@include icon-font(\f054);
		}
	}


	// Tables
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%table-bordered {
		thead {
			th, td {
				background-color: $gray;
				color: #FFF;
			}
		}
		tbody {
			td { border-bottom: 1px solid $grayLight; }
		}
	}

	%table-striped { background-color: $grayLighter;}

	%table-hover { background-color: $gray;}

	%table-sortable {
		thead {
			th {
				&:hover {background: $grayDark }
				&.sorting-asc:after {content: "\25BC"; }
				&.sorting-desc:after {content: "\25B2";}
			}
		}
	}

	// Breadcrumbs
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%breadcrumb {
		> li {
			&:after {
				color: #ccc;
				content: "›";
				padding: 0 10px;
			}
			&:last-child {
				&:after {
					content: "";
					padding-right: 0;
				}
			}
		}
		.active { color: $grayLight; }
	}

	// Pagination
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%pagination {
		ul > li > a,
		ul > li > span {
		  background-color: $grayLight;
		  border-color: $gray;
		}
		ul > li > a:hover,
		ul > li > a:focus,
		ul > .active > a,
		ul > .active > span {
		  background-color: $grayLighter;
		}
		ul > .active > a,
		ul > .active > a:hover,
		ul > .active > span {
		  color: #fff;
		  background-color: $gray;

		}
		ul > .disabled > span,
		ul > .disabled > a,
		ul > .disabled > a:hover,
		ul > .disabled > a:focus {
		  color: $grayLight;
		  background-color: transparent;
		  border-color: $grayLight;
		}
	}

	// Pager
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%pager {
		li > a,
		li > span {
		  background-color: #fff;
		  border-color: $grayLight;
		}
		li > a:hover,
		li > a:focus {
		  background-color: $grayLighter;
		}
		.disabled > a,
		.disabled > a:hover,
		.disabled > a:focus,
		.disabled > span {
		  color: $grayLight;
		  background-color: #fff;
		}
	}


	// Modals
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	$modal-btn-size: em(30px);

	// Buttons
	%modal-buttons {
		@extend %btn-scripts !optional;
		@include square($modal-btn-size);
		line-height: $modal-btn-size;
	}

	%modal-close {
		@include position(absolute, 0px (em(-5px) - $modal-btn-size) 0 0);
	}

	%modal-close-alt {
		@include position(absolute, 0px 0px 0 0);
		background-color: transparent;
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	%modal-navbar-size {@include size($modal-btn-size, $modal-btn-size * 5);}

	// Other styles
	%modal-overlay {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=');
	}

	%modal-skin {
		@include box-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
		@include border-radius($base-border-radius);
		background: #fff;

		// Icons
		.fancybox-close:after 		{ @include icon-font(\f00d); }
		.fancybox-prev span:after 	{ @include icon-font(\f053); }
		.fancybox-next span:after 	{ @include icon-font(\f054); }
		.btnPrev:after 				{ @include icon-font(\f04a); }
		.btnNext:after 				{ @include icon-font(\f051); }
		.btnPlay:after 				{ @include icon-font(\f04b); }
		.btnPlayOn:after 			{ @include icon-font(\f04c); }
		.btnToggle:after 			{ @include icon-font(\f065); }
		.btnToggleOn:after 			{ @include icon-font(\f066); }
		.btnClose:after 			{ @include icon-font(\f00d); }
	}

	%modal-nav { margin-top: (0 - ($modal-btn-size / 2)); }

	%modal-title-over { @extend %caption !optional; }

	%modal-loading {
		margin-top: -22px;
		margin-left: -22px;
		opacity: 0.8;

		div {
			@extend %loader-ico !optional;
			@include square(44px);

		}
	}


	// Sliders
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	$slider-btn-size: em(30px);

	// Buttons
	%slider-buttons {
		@extend %btn-scripts !optional;
		@include square($slider-btn-size);
		line-height: $slider-btn-size;
		margin-top: -($slider-btn-size / 2);

		&.bx-prev i:after { @include icon-font(\f053); }
		&.bx-next i:after { @include icon-font(\f054); }
	}

	// Pager
	%slider-pager {
		@include position(absolute, 0 0 -30px 0);
		padding-top: 20px;
		.bx-pager-item {
			a {
				@include border-radius(5px);
				@include square(10px);
				background: $grayLight;
				margin: 0 5px;
				&:hover, &.active { background: $gray; }
			}
		}
	}

	// Other styles
	%slider-loading { @extend %loader-ico !optional; }
	%slider-caption { @extend %caption !optional; }

	// Tabs
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%tab-tabs {
		li {
			background: $grayLighter;
			border: solid 1px $grayLight;
			border-bottom: none;

			&.active {
				border-color: $gray;
				&:after {
					background: $grayLighter;
				}
			}
		}
	}



	%tab-container {
		border: solid 1px $gray;
		background: $grayLighter;
	}


	// Loader icon
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	%loader-ico {
		background:
				url('//cdn.jsdelivr.net/wp-advanced-ajax-page-loader/2.5.12/loaders/SMALL%20-%20Spinning%20Arrows.gif')
				center center no-repeat;
	}


	// Alerts
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

	.alert {
	  background-color: $grayLighter;
	  border: 1px solid $grayLight;
	}

	// Responsive NAV
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

	%nav-big {}

	%nav-small {
		background-color: #272c33;

		a {
			color: #fff;
			padding: $input-padding;
			// &:after { display: none;}
		}

		ul,
		ul li,
		ul li a {
			width: 100%;
			border: 0;
			margin: 0;
			float: none;
			display: block;
			position: static;
			text-align: left;
			@include border-radius(0);
			background-color: transparent;
		}

		.open {
			background-color: lighten(#272c33, 10);

			.btn.dropdown-toggle[data-toggle=dropdown] {
				background-color: darken(#272c33, 10);
			}
		}
	}



	%nav-toggle {
		@extend .btn;
		@include square($responsive-nav-toggle-size);
		font-size: $responsive-nav-toggle-size * .6;
		padding: 0;
		line-height: $responsive-nav-toggle-size;
		span {@include hide-text();}
		&:before {
			@include icon-font(\f0c9);
		}
	}

}

