*, *:before, *:after {@include box-sizing(border-box);}

.wrapper, .w {
	@extend .clearfix;
	margin: 0 auto; 
	max-width: $desk-end;
	padding-right: 20px; 
	padding-left: 20px; 
}

$i: 100;
@while $i > 0 {
	.width-#{$i} { width: $i * 1% !important; }
	$i: $i - 5;
}