// ====================================================================================================================
// ALERTS
// ====================================================================================================================

@if $alerts {
	.alert {
		padding: $alerts-padding;
		margin-bottom: rhythm();
		@extend %alert;

		p { margin: 0; }

		.close {
			position: relative;
			top: 0;
			right: 0;
		}
	}

	.alert--block {
		* { margin-bottom: 0; }
		* + * {  margin-top: 5px; }
	}
}