/*

Close buttons

Markup:
<a href="#" class="close">&times;</a>
<button type="button" class="close">&times;</button>

Styleguide 6

*/

@if $close {

    .close {
        @extend %float-right;
        font-size: 1em;
        @extend %font-weight-bold;
        color: $black;
        @include opacity(20);
        &:hover,
        &:focus {
            color: $black;
            @extend %text-decoration-none;
            @extend %cursor-pointer;
            @include opacity(40);
        }
    }

    button.close {
        @extend %no-padding;
        @extend %cursor-pointer;
        @extend %no-background;
        @extend %no-border; 
        @extend %appearance-none;
    }

}
