// Close buttons
//
// Markup:
// <a href="#" class="close">&times;</button>
// <button type="button" class="close">&times;</button>
//
// Styleguide 6


@if $close {

	.close {
		float: right;
		font-size: 1em;
		font-weight: bold;
		color: $black;
		@include opacity(20);
		&:hover,
		&:focus {
			color: $black;
			text-decoration: none;
			cursor: pointer;
			@include opacity(40);
		}
	}

	button.close {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
	}

}