/*

Close buttons

Markup:
<a href="#" class="close">&times;</a>
<button type="button" class="close">&times;</button>

Styleguide 6

*/

@if $close {

    .close {
        float: right;
        font-size: 1em;
        @extend %font-weight-bold;
        color: $black;
        @include opacity(20);
        &:hover,
        &:focus {
            color: $black;
            text-decoration: none;
            cursor: pointer;
            @include opacity(40);
        }
    }

    button.close {
        padding: 0;
        cursor: pointer;
        background: none;
        border: 0; 
        appearance: none;
    }

}
