// ====================================================================================================================
// DROPDOWN MENUS
// ====================================================================================================================

@if $dropdowns {

	.dropdown,
	.dropdown__toggle {
		position: relative;
	}

	.dropdown__toggle:focus { outline: 0; }

	// Dropdown arrow/caret
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown__caret {
		@extend %caret !optional;
	}

	// The dropdown menu (ul)
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown__menu {
		@extend %dropdown !optional;
		@include border-bottom-radius($base-border-radius);
		@include position(absolute, 100% 0 0 0px);
		border-style: solid;
		border-width: $input-border;
		float: left;
		list-style: none;
		margin: -$input-border 0 0 0;
		z-index: $zindex-dropdown;

		// display: none;

		@include transition();
		max-height: 0;
		opacity: 0;
		overflow: hidden;

		&[data-content] { min-width: em(600px); }


		// Aligns the dropdown menu to right
		&.pull-right {
			right: 0;
			left: auto;
		}

		// Links list inside the dropdown
		> li > a,
		> li > label {
			clear: both;
			display: block;
			font-weight: normal;
			white-space: nowrap;
		}

		> li > a { padding: $dropdowns-padding;}
		> li > label { padding: nth($dropdowns-padding, 1) nth($dropdowns-padding, 2) nth($dropdowns-padding, 1) (nth($dropdowns-padding, 2) + em($checkbox-padding-left) ) ;}

		> li:last-child > a,
		> li:last-child > label {
			border-bottom: 0;
		}

	}

	// Hover/Focus state
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown__menu > li > a:hover,
	.dropdown__menu > li > a:focus {
		text-decoration: none;
	}

	// Active state
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown__menu > .active > a,
	.dropdown__menu > .active > a:hover,
	.dropdown__menu > .active > a:focus {
		text-decoration: none;
		outline: 0;
	}

	// Disabled state
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown__menu > .disabled > a,
	.dropdown__menu > .disabled > a:hover,
	.dropdown__menu > .disabled > a:focus {
		color: $grayLight;
	}
	// Nuke hover/focus effects
	.dropdown__menu > .disabled > a:hover,
	.dropdown__menu > .disabled > a:focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		cursor: default;
	}

	// Open state for the dropdown
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.dropdown.open {
		z-index: $zindex-dropdown ;

		.dropdown__toggle {
			@extend %dropdown--open !optional;
			@include border-bottom-radius(0 !important);
			z-index: $zindex-dropdown + 1;
		}

		.dropdown__menu {
			// display: block;
			max-height: 666px;
			opacity: 1;
		}

	}


}