/*

Grids

Grids usually are defined directly in the scss/sass files using the `columns` mixin.
This is the best solution and keep the html free of classes that one day may be changed requiring more work
that editing the stylesheet file and recompiling.

Sometimes is easier to add a class to the html for quick prototiping, in this case there are available several classes
just for that.

In this example the columns width is 3 on desktop, 6 on tablet and 12 on smartphone.

Markup:
<div class="desk__3 lap__6 palm__12">1</div>
<div class="desk__3 lap__6 lap__omega palm__12">2</div>
<div class="desk__3 lap__6 palm__12">3</div>
<div class="desk__3 desk__omega lap__6 lap__omega palm__12">4</div>
<div class="desk__3 lap__6 palm__12">5</div>
<div class="desk__3 lap__6 lap__omega palm__12">6</div>
<div class="desk__3 lap__6 palm__12">7</div>
<div class="desk__3 desk__omega lap__6 lap__omega palm__12">8</div>

Styleguide 11

*/

@if map-get($components, grids) {
  @each $name, $device in $media-queries {
    @include media($device) {
       @for $i from 1 through $total-columns {
        .#{$name}__#{$i} {
          @include span-columns($i);
        }
      }
    }
  }
}

/*

Show and Hide

There're also available some helper classes:

* **Hide element**: Used to hide an element at a breackpoint
  * `.palm-hide`
  * `.lap-hide`
  * `.portable-hide`
  * `.lap-and-up-hide`
  * `.desk-hide`
* **Show element**: Used to show an element at a breackpoint
  * `.palm-show`
  * `.lap-show`
  * `.portable-show`
  * `.lap-and-up-show`
  * `.desk-show`
* **Omega element**: Used to apply a margin: 0 on the last item on the row
  * `.palm-omega`
  * `.lap-omega`
  * `.portable-omega`
  * `.lap-and-up-somega`
  * `.desk-omega`
* **Reverse element**: Used to reverse the direction
  * `.palm-reverse`
  * `.lap-reverse`
  * `.portable-reverse`
  * `.lap-and-up-reverse`
  * `.desk-reverse`

Styleguide 11.1

*/

@if map-get($components, grids-helpers) {
  @each $name, $device in $media-queries {
    @include media($device) {
      .#{$name}__hide { display: none !important; }
      .#{$name}__show { display: block !important; }
      .#{$name}__omega { margin-right: 0 !important; }
      .#{$name}__reverse {
        @extend .#{$name}__omega;
        float: right !important;
      }
      .#{$name}__left { float: left !important; }
      .#{$name}__center { margin-left: auto !important; margin-right: auto !important; float: none !important;}
      .#{$name}__right { float: right !important; }
    }
  }
}
