// ====================================================================================================================
// BADGE & PILLS
// ====================================================================================================================

@if $labels {

	.badge,
	.pill {
		@extend %pill !optional;
		display: inline-block;
		padding: $pills-padding;
		vertical-align: baseline;
		white-space: nowrap;
	}

	.badge { @include border-radius($base-border-radius); }
	.pill { @include border-radius(20px); }

	.badge, .pill {
		&:empty { display: none; }
	}

	a {
		&.label:hover,
		&.label:focus,
		&.badge:hover,
		&.badge:focus {
			color: $white;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.btn {
		.badge,
		.pill {
			margin: -(nth($pills-padding, 1)) -(nth($pills-padding, 2)) 0 0 ;
		}
	}

}