// ====================================================================================================================
// LABELS & BADGES
// ====================================================================================================================

@if $labels {

	.label,
	.badge {
		@extend %pill !optional;
		display: inline-block;
		padding: $pills-padding;
		vertical-align: baseline;
		white-space: nowrap;
	}

	.label { @include border-radius($base-border-radius); }
	.badge { @include border-radius(20px); }

	.label, .badge {
		&:empty { display: none; }
	}

	a {
		&.label:hover,
		&.label:focus,
		&.badge:hover,
		&.badge:focus {
			color: $white;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.btn {
		.label,
		.badge {
			margin: -(nth($pills-padding, 1)) -(nth($pills-padding, 2)) 0 0 ;
		}
	}

}