// Navs
//
// Styleguide 4.12.


@if $navs {

	.nav {
		@extend .clearfix;
		position: relative;
		display: inline-block;

		&, > ul {
			list-style: none;
			margin-bottom: rhythm();
			margin-left: 0;
			padding-left: 0;
			@extend .clearfix;
		}

		li {

			> a {
				display: inline-block;
				line-height: 1em;

				&:hover, &:focus {
					text-decoration: none;
				}

				img { max-width: none; }
			}

			&.disabled > a:hover,
			&.disabled > a:focus {
				text-decoration: none;
				background-color: transparent;
				cursor: default;
			}
		}
	}

// Nav Title
//



	.nav__title {
		@include adjust-font-size-to($milli-size);
		color: $gray;
		display: block;
		font-weight: bold;
		padding: $navs-padding;
		padding-left: 0;
		text-transform: uppercase;
	}


// Horizontal nav
//



	.nav--inline {
		& > li,
		> ul > li { float: left;}
	}

// Vertical nav
//



	.nav--vertical {
		width: 100%;
	}


// Nav with blocky links
//



	.nav--btn {
		li {
			> a {
				padding: $navs-padding;
				@extend %nav--btn;

				&:hover, &:focus {
					@extend %nav--btn__hover;
				}
			}

			&.active > a,
			&.active > a:hover,
			&.active > a:focus {
				@extend %nav--btn__active;
			}

			// Disabled
			&.disabled > a { @extend %nav--btn__disabled; }
		}
	}


// Nav with pills as links
//



	.nav--pills {
		> li > a {
			@include border-radius($base-border-radius);
			margin-right: .25em;
		}

		&[class*="vertical"] > li > a { margin-bottom: .25em;  }
		&[class*="vertical"] > li:last-child > a { margin-bottom: 0; }
	}

}