// ====================================================================================================================
// PAGER PAGINATION
// ====================================================================================================================

@if $pager {

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Base
// --------------------------------------------------------------------------------------------------------------------

	.pager {
		@include clearfix();
		list-style: none;
		margin: rhythm() 0;
		text-align: center;

		li {
			display: inline;

			a,
			span {
				@include border-radius($base-border-radius);
				border-style: solid;
				border-width: 1px;
				display: inline-block;
				line-height: 1em;
				padding: $pager-padding;
				@extend %pager-btn !optional;
			}

			a:hover,
			a:focus {
				@extend %pager-btn_hover !optional;
			}
			a:active {
				@extend %pager-btn_active !optional;
			}
		}

		[rel="next"],
		.next > a,
		.next > span {
			float: right;
		}

		[rel="prev"],
		.previous > a,
		.previous > span {
			float: left;
		}

		.disabled > a,
		.disabled > a:hover,
		.disabled > a:focus,
		.disabled > span {
			cursor: default;
			@extend %pager-btn_disabled !optional;
		}

	}
}