// ====================================================================================================================
// SLIDERS w/ BxSlider (https://github.com/wandoledzep/bxslider-4)
// ====================================================================================================================

@if $slider {

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Base
// --------------------------------------------------------------------------------------------------------------------
	.bx-wrapper {
		position: relative;
		padding: 0;
		*zoom: 1;
		z-index: $zindex-slider;
		margin-bottom: rhythm();

		img {
			max-width: 100%;
			display: block;
		}

		ul {@extend .list_style_none;}
	}

	.bx-viewport { }

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Directions
// --------------------------------------------------------------------------------------------------------------------
	.bx-controls-direction {

		a {
			@extend %slider-btn !optional;
			@include position(absolute, 50% 0 0 0);

			z-index: 200;

			i {font-style: normal;}
			span {@include hide-text;}

			&.disabled { display: none; }

			&.bx-prev { left: 0; }
			&.bx-next { right: 0; }
		}


	}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Pager
// --------------------------------------------------------------------------------------------------------------------
	.bx-pager {
		width: 100%;
		text-align: center;
		@extend %slider-pager !optional;

		.bx-pager-item {
			display: inline-block;
			a {
				display: inline-block;
				// @include hide-text;
			}
		}
	}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Loading
// --------------------------------------------------------------------------------------------------------------------
	.bx-loading {
		@include square(100%);
		@include position(absolute, 0px 0 0 0px);
		@extend %slider-loading-style;
		z-index: 2000;
	}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Captions
// --------------------------------------------------------------------------------------------------------------------
	.bx-caption {
		@include position(absolute, 0 0 0px 0px);
		width: 100%;

		span {
			display: inline-block;
			@extend %slider-caption !optional;
		}
	}

}