/*

Tooltips

Add simple tooltips to any element. Positions available: top, right, bottom, left.

Script required: **rapido.js**.

Markup:
<a class="btn btn--default tooltip__button" href="#"
  data-tooltip-content="Text to be included in the tooltip"
  data-tooltip-position="bottom">
  Button
</a>
<script type="text/javascript">
  $(document).ready(function() {
    $('.tooltip__button').rapido_Tooltip();
  });
</script>

Include this js after including rapido.js.

    $('.tooltip__button').rapido_Overlay();

**Options** (with default values):

    margin:            15

Styleguide 19

*/

@if $tooltips {

  $_tooltip-triangle-size: em($tooltip-triangle-size);
  $_tooltip-triangle-size-neg: neg($_tooltip-triangle-size);
  $_tooltip-triangle-size-half:  $_tooltip-triangle-size / 2;
  $_tooltip-triangle-size-half-neg:  neg($_tooltip-triangle-size-half);

  [data-tooltip-position="top"] + .tooltip {
    @include transform(translateX(0) translateY(-.50em));
    &:after {
      @include triangle($_tooltip-triangle-size $_tooltip-triangle-size-half, $tooltip-background, down);
      left: 50%;
      margin-left: $_tooltip-triangle-size-half-neg;
      bottom: $_tooltip-triangle-size-half-neg;
    }
  }

  [data-tooltip-position="bottom"] + .tooltip {
    @include transform(translateX(0) translateY(.50em));
    &:after {
      @include triangle($_tooltip-triangle-size $_tooltip-triangle-size-half, $tooltip-background, up);
      left: 50%;
      top: $_tooltip-triangle-size-half-neg;
      margin-left: $_tooltip-triangle-size-half-neg;
    }
  }

  [data-tooltip-position="left"] + .tooltip {
    @include transform(translateX(-.50em) translateY(0));
    &:after {
      @include triangle($_tooltip-triangle-size $_tooltip-triangle-size-half, $tooltip-background, right);
      top: 50%;
      right: $_tooltip-triangle-size-half-neg;
      margin-top: $_tooltip-triangle-size-half-neg;
    }
  }

  [data-tooltip-position="right"] + .tooltip {
    @include transform(translateX(.50em) translateY(0));
    &:after {
      @include triangle($_tooltip-triangle-size $_tooltip-triangle-size-half, $tooltip-background, left);
      top: 50%;
      left: $_tooltip-triangle-size-half-neg;
      margin-top: $_tooltip-triangle-size-half-neg;
    }
  }

  .tooltip {
    @extend %tooltip !optional;
    border-radius: $base-border-radius;
    @include opacity(0);
    @include transition($tooltip-transition-duration);
    background: $tooltip-background;
    color: $tooltip-color;
    padding: $tooltips-padding;
    position: absolute;
    visibility: hidden;
    max-width: 300px;

    &.open {
      @include opacity(1);
      @include transform(translateX(0) translateY(0));
      max-height: $dropdowns-height;
      visibility: visible;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
    }

  }


}
