/*

Base Settings

Styleguide 28

*/

/*

Debug Mode

    $debug-html:                        false   # Enable debug html mode
    $debug-outlines:                    false   # Enable debug outlines mode
    $default-styles:                    true    # Use default styles in _default-styles.scss

Styleguide 28.1

*/

$debug-html:                            false                                                               !default;
$debug-outlines:                        false                                                               !default;
$default-styles:                        true                                                                !default;


/*

Text body size

    $base-font-size:                    14px    # Default text size to use on body text
    $base-line-height:                  $base-font-size * 1.5     # Default line-height
    $round-to-nearest-half-line:        true    # Round the line height for the adjust-font-size-to mixin

Change text size with media query. On media query `lap-and-up` (tablet and desktop) use the default text size,
on `palm` (smartphone) change the base size to 16px, it will be automatically converted to percentage to mantain em proportions.

    $responsive-font-size:              lap-and-up $base-font-size, palm 16px

Styleguide 28.2

*/

$base-font-size:                        14px                                                                !default;
$base-line-height:                      modular-scale($base-font-size,  1, $golden)                         !default;

// For Vertical Rhythm

$relative-font-sizing:                  true                                                                !default;
$round-to-nearest-half-line:            true                                                                !default;
$min-line-padding:                      2px                                                                 !default;
$font-unit:                             if($relative-font-sizing, 1em, $base-font-size)                     !default;

// For Bourbon

$em-base:                               $base-font-size;

/*

Font families

    $font-sans:                         "Helvetica Neue", Helvetica, Arial, sans-serif
    $font-serif:                        Georgia, "Times New Roman", Times, serif
    $font-mono:                         Monaco, Menlo, Consolas, "Courier New", monospace

    $base-font-family:                  $font-sans  # Default font family for body text
    $titles-font-family:                $font-sans  # Default font family for titles

Styleguide 28.3

*/

$font-sans:                             "Helvetica Neue", Helvetica, Arial, sans-serif                      !default;
$font-serif:                            Georgia, "Times New Roman", Times, serif                            !default;
$font-mono:                             Monaco, Menlo, Consolas, "Courier New", monospace                   !default;

$base-font-family:                      $font-sans                                                          !default;
$titles-font-family:                    $font-sans                                                          !default;

/*

Em

To convert `PX` to `EM` using the `$base-font-size` as font size.

    em(<$value> [, <$context>])

Styleguide 27.1

*/

/*@function em($to-size, $from-size: $base-font-size) {*/
    /*@return ($to-size / $from-size) + 0em;*/
/*}*/
