/*

Base Colors

Used for scaffolding

    $black:                             #000
    $grayDarker:                        lighten($black, 15)
    $grayDark:                          lighten($black, 30)
    $gray:                              lighten($black, 60)
    $grayLight:                         lighten($black, 85)
    $grayLighter:                       lighten($black, 95)
    $white:                             #fff

Styleguide 29

*/

$black:                                 #000;
$grayDarker:                            lighten($black, 15);
$grayDark:                              lighten($black, 30);
$gray:                                  lighten($black, 60);
$grayLight:                             lighten($black, 85);
$grayLighter:                           lighten($black, 95);
$white:                                 lighten($black, 100);

/*

Default colors

    $body-color:                        #FFFFFF
    $text-color:                        #333

    $link-color:                        #0074D9
    $link-color-hover:                  darken($link-color, 10%)

    $placeholder-color:                 $gray

    $selection-color:                   $white
    $selection-bacground:               #39CCCC

    $tooltip-color:                     $white
    $tooltip-background:                rgba(0,0,0,.75)

Styleguide 29.1

*/

$body-color:                            $white                                                              !default;
$text-color:                            $grayDarker                                                         !default;

$link-color:                            #0074D9                                                             !default;
$link-color-hover:                      darken($link-color, 10)                                             !default;

$placeholder-color:                     $gray                                                               !default;

$selection-color:                       $white                                                              !default;
$selection-background:                  #39CCCC                                                             !default;

$tooltip-color:                         $white                                                              !default;
$tooltip-background:                    rgba(0,0,0,.75)                                                     !default;

