// ====================================================================================================================
// ENABLE COMPONENTS
// ====================================================================================================================

$alerts: 							true 		!default;
$breadcrumbs: 						true 		!default;
$button-groups: 					true 		!default;
$buttons: 							true 		!default;
$captions: 							true 		!default;
$close: 							true 		!default;
$dropdowns: 						true 		!default;

$forms: 							true 		!default;
	$forms-append:					true 		!default;
	$forms-inline:					true 		!default;
	$forms-aligned:					true 		!default;
	$forms-grid: 				true 		!default;

$modals: 							true 		!default;
$navs: 								true 		!default;
$pager: 							true 		!default;
$pagination: 						true 		!default;
$labels: 							true 		!default;
$responsive-navs: 					true 		!default;
$tables: 							true 		!default;

$tabs:								true 		!default;
$slider:							true 		!default;
$modal: 							true 		!default;
	$modal-buttons: 				true 		!default;
	$modal-thumbs: 					true 		!default;

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Icon Fonts
// --------------------------------------------------------------------------------------------------------------------
$use-fontawesome: 					true 		!default;

$use-brandico: 						false 		!default;
$use-entypo: 						false 		!default;
$use-fontelico: 					false 		!default;
$use-maki: 							false 		!default;
$use-openweb-icons: 				false 		!default;
$use-typicons: 						false 		!default;
$use-zocial: 						false 		!default;
