/*

Settings

These are the default settings for all animations and transitions within the framework.

By default all animations but fadeIn and fadeOut are disabled, use the  ```$animations``` list to enable/disable them.

    $animations:                        fadeIn, fadeOut, fadeInDown, fadeOutUp

If true it generate a placeholder class for every animation with the default settings to use as an ````@extend```.

    $animations-classes:                true

Base settings for animations

    $animations-duration:               .50s      # Duration
    $animations-delay:                  0s        # Start delay
    $animations-function:               ease-out  # Easing
    $animations-mode:                   both      # animation-fill-mode

For transitions you can use other settings for duration and easing, by default the use the same settings as the animations.

    $default-transition-duration:       .15s
    $default-transition-function:       $animations-function

Durations specifics for some  modules.

    $caption-animations-duration:       .50s
    $offcanvas-animations-duration:     .40s
    $tooltip-transition-duration:       .30s

Styleguide 24.1

*/

$animations:                        fadeIn, fadeOut, fadeInDown, fadeOutUp                                  !default;
$animations-classes:                true                                                                    !default;

$animations-duration:               .50s                                                                    !default;
$animations-delay:                  null                                                                    !default;
$animations-function:               ease-out                                                                !default;
$animations-mode:                   both                                                                    !default;

$default-transition-duration:       .15s                                                                    !default;
$default-transition-function:       toBezier($animations-function)                                          !default;

$caption-animations-duration:       .50s                                                                    !default;
$offcanvas-animations-duration:     .40s                                                                    !default;
$tooltip-transition-duration:       .30s                                                                    !default;
