//
// Tables
// --------------------------------------------------


// BASE TABLES
// -----------------

table {
  max-width: 100%;
  //background-color: $tableBackground;
  border-collapse: collapse;
  border-spacing: 0;
}

// BASELINE STYLES
// ---------------

.table {
  width: 100%;
  margin-bottom: rhythm(1);
  @extend %table-style;
  // Cells
  thead {
    th, td {
      // background-color: $gray;
      // color: #FFF;
    }
  }
  th,
  td {
    padding: $input-padding;
    line-height: rhythm(1);
    text-align: left;
    vertical-align: top;
  }
  th {
    font-weight: bold;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    // border-top: 0;
    border-top-color: transparent;

  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $grayLight;
  }

  // Nesting
  .table {
    //background-color: $bodyBackground;
  }
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------
.table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}

// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  @extend .table;
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: $grayLighter;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table-hover {
  @extend .table;
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: $gray;
    }
  }
}


// TABLE CELL SIZING
// -----------------

// Reset default grid behavior
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none; // undo default grid column styles
  margin-left: 0; // undo default grid column styles
}

// Change the column widths to account for td/th padding

.table td,
.table th {

}

// STUPID TABLE
// ---------------
.table--sortable {
  @extend .table;
  thead {
    th {
      cursor: pointer;
      &:hover {background: $grayDark }

      &.sorting-asc:after,
      &.sorting-desc:after {
          float: right;
      }

      &.sorting-asc:after {content: "\25BC"; }

      &.sorting-desc:after {content: "\25B2";}

    }
  }
}