
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Enable Components
// --------------------------------------------------------------------------------------------------------------------

$alerts: 							true 																	!default;
$buttons: 							true 																	!default;
$dropdowns: 						true 																	!default;
$modals: 							true 																	!default;
$pagination: 						true 																	!default;
$sliders: 							true 																	!default;
$type: 								true 																	!default;
$breadcrumbs: 						true 																	!default;
$captions: 							true 																	!default;
$forms: 							true 																	!default;
$navs: 								true 																	!default;
$pills: 							true 																	!default;
$tables: 							true 																	!default;
$button-groups: 					true 																	!default;
$close: 							true 																	!default;
$images: 							true 																	!default;
$pager: 							true 																	!default;
$responsive-navs: 					true 																	!default;
$tabs: 								true 																	!default;


// Responsive Nav
// --------------------------------------------------------------------------------------------------------------------
// $responsive-nav: 					false 																!default;

// Modals
// --------------------------------------------------------------------------------------------------------------------
$modal: 							false 																	!default;
$modal-buttons: 					false 																	!default;
$modal-thumbs: 						false 																	!default;

// Sliders
// --------------------------------------------------------------------------------------------------------------------
$slider:							false 																	!default;

// Sliders
// --------------------------------------------------------------------------------------------------------------------
$tabs:								false 																	!default;

// Font icons
// --------------------------------------------------------------------------------------------------------------------
$use-fontawesome: 									true 													!default;
$use-brandico: 										false 													!default;
$use-entypo: 										false 													!default;
$use-fontelico: 									false 													!default;
$use-maki: 											false 													!default;
$use-openweb-icons: 								false 													!default;
$use-typicons: 										false 													!default;
$use-zocial: 										false 													!default;
