@if $enable-iconic {

  @font-face {
    font-family: 'IconicFill';
    src: url('#{$fonts-default-path}/iconic/fill/iconic_fill.eot');
    src: url('#{$fonts-default-path}/iconic/fill/iconic_fill.eot?#iefix') format('embedded-opentype'), 
      url('#{$fonts-default-path}/iconic/fill/iconic_fill.ttf') format('truetype'), 
      url('#{$fonts-default-path}/iconic/fill/iconic_fill.svg#iconic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

 } 

  @mixin iconic($icon) {
    display: inline-block;
    font-family: 'IconicFill';

    @if      $icon == 'lightbulb'             { content: '\e063'; }
    @else if $icon == 'equalizer'             { content: '\e052'; }
    @else if $icon == 'brush_alt'             { content: '\e01c'; }
    @else if $icon == 'move'                  { content: '\e03e'; }
    @else if $icon == 'tag_fill'              { content: '\e02b'; }
    @else if $icon == 'book_alt2'             { content: '\e06a'; }
    @else if $icon == 'layers'                { content: '\e01f'; }
    @else if $icon == 'chat_alt_fill'         { content: '\e007'; }
    @else if $icon == 'layers_alt'            { content: '\e020'; }
    @else if $icon == 'cloud_upload'          { content: '\e045'; }
    @else if $icon == 'chart_alt'             { content: '\e029'; }
    @else if $icon == 'fullscreen_exit_alt'   { content: '\e051'; }
    @else if $icon == 'cloud_download'        { content: '\e044'; }
    @else if $icon == 'paperclip'             { content: '\e08a'; }
    @else if $icon == 'heart_fill'            { content: '\2764'; }
    @else if $icon == 'mail'                  { content: '\2709'; }
    @else if $icon == 'pen_alt_fill'          { content: '\e005'; }
    @else if $icon == 'check_alt'             { content: '\2718'; }
    @else if $icon == 'battery_charging'      { content: '\e05d'; }
    @else if $icon == 'lock_fill'             { content: '\e075'; }
    @else if $icon == 'stop'                  { content: '\e04a'; }
    @else if $icon == 'arrow_up'              { content: '\2191'; }
    @else if $icon == 'move_horizontal'       { content: '\e038'; }
    @else if $icon == 'compass'               { content: '\e021'; }
    @else if $icon == 'minus_alt'             { content: '\e009'; }
    @else if $icon == 'battery_empty'         { content: '\e05c'; }
    @else if $icon == 'comment_fill'          { content: '\e06d'; }
    @else if $icon == 'map_pin_alt'           { content: '\e002'; }
    @else if $icon == 'question_mark'         { content: '\003f'; }
    @else if $icon == 'list'                  { content: '\e055'; }
    @else if $icon == 'upload'                { content: '\e043'; }
    @else if $icon == 'reload'                { content: '\e030'; }
    @else if $icon == 'loop_alt4'             { content: '\e035'; }
    @else if $icon == 'loop_alt3'             { content: '\e034'; }
    @else if $icon == 'loop_alt2'             { content: '\e033'; }
    @else if $icon == 'loop_alt1'             { content: '\e032'; }
    @else if $icon == 'left_quote'            { content: '\275d'; }
    @else if $icon == 'x'                     { content: '\2713'; }
    @else if $icon == 'last'                  { content: '\e04d'; }
    @else if $icon == 'bars'                  { content: '\e06f'; }
    @else if $icon == 'arrow_left'            { content: '\2190'; }
    @else if $icon == 'arrow_down'            { content: '\2193'; }
    @else if $icon == 'download'              { content: '\e042'; }
    @else if $icon == 'home'                  { content: '\2302'; }
    @else if $icon == 'calendar'              { content: '\e001'; }
    @else if $icon == 'right_quote_alt'       { content: '\e012'; }
    @else if $icon == 'unlock_fill'           { content: '\e076'; }
    @else if $icon == 'fullscreen'            { content: '\e04e'; }
    @else if $icon == 'dial'                  { content: '\e058'; }
    @else if $icon == 'plus_alt'              { content: '\e008'; }
    @else if $icon == 'clock'                 { content: '\e079'; }
    @else if $icon == 'movie'                 { content: '\e060'; }
    @else if $icon == 'steering_wheel'        { content: '\e024'; }
    @else if $icon == 'pen'                   { content: '\270e'; }
    @else if $icon == 'pin'                   { content: '\e067'; }
    @else if $icon == 'denied'                { content: '\26d4'; }
    @else if $icon == 'left_quote_alt'        { content: '\e011'; }
    @else if $icon == 'volume_mute'           { content: '\e071'; }
    @else if $icon == 'umbrella'              { content: '\2602'; }
    @else if $icon == 'list_nested'           { content: '\e056'; }
    @else if $icon == 'arrow_up_alt1'         { content: '\e014'; }
    @else if $icon == 'undo'                  { content: '\e02f'; }
    @else if $icon == 'pause'                 { content: '\e049'; }
    @else if $icon == 'bolt'                  { content: '\26a1'; }
    @else if $icon == 'article'               { content: '\e053'; }
    @else if $icon == 'read_more'             { content: '\e054'; }
    @else if $icon == 'beaker'                { content: '\e023'; }
    @else if $icon == 'beaker_alt'            { content: '\e010'; }
    @else if $icon == 'battery_full'          { content: '\e073'; }
    @else if $icon == 'arrow_right'           { content: '\2192'; }
    @else if $icon == 'iphone'                { content: '\e06e'; }
    @else if $icon == 'arrow_up_alt2'         { content: '\e018'; }
    @else if $icon == 'cog'                   { content: '\2699'; }
    @else if $icon == 'award_fill'            { content: '\e022'; }
    @else if $icon == 'first'                 { content: '\e04c'; }
    @else if $icon == 'trash_fill'            { content: '\e05a'; }
    @else if $icon == 'image'                 { content: '\e027'; }
    @else if $icon == 'comment_alt1_fill'     { content: '\e003'; }
    @else if $icon == 'cd'                    { content: '\e064'; }
    @else if $icon == 'right_quote'           { content: '\275e'; }
    @else if $icon == 'brush'                 { content: '\e01b'; }
    @else if $icon == 'cloud'                 { content: '\2601'; }
    @else if $icon == 'eye'                   { content: '\e025'; }
    @else if $icon == 'play_alt'              { content: '\e048'; }
    @else if $icon == 'transfer'              { content: '\e041'; }
    @else if $icon == 'pen_alt2'              { content: '\e006'; }
    @else if $icon == 'camera'                { content: '\e070'; }
    @else if $icon == 'move_horizontal_alt2'  { content: '\e03a'; }
    @else if $icon == 'curved_arrow'          { content: '\2935'; }
    @else if $icon == 'move_horizontal_alt1'  { content: '\e039'; }
    @else if $icon == 'aperture'              { content: '\e026'; }
    @else if $icon == 'reload_alt'            { content: '\e031'; }
    @else if $icon == 'magnifying_glass'      { content: '\e074'; }
    @else if $icon == 'calendar_alt_fill'     { content: '\e06c'; }
    @else if $icon == 'fork'                  { content: '\e046'; }
    @else if $icon == 'box'                   { content: '\e06b'; }
    @else if $icon == 'map_pin_fill'          { content: '\e068'; }
    @else if $icon == 'bars_alt'              { content: '\e00a'; }
    @else if $icon == 'volume'                { content: '\e072'; }
    @else if $icon == 'x_alt'                 { content: '\2714'; }
    @else if $icon == 'link'                  { content: '\e077'; }
    @else if $icon == 'move_vertical'         { content: '\e03b'; }
    @else if $icon == 'eyedropper'            { content: '\e01e'; }
    @else if $icon == 'spin'                  { content: '\e036'; }
    @else if $icon == 'rss'                   { content: '\e02c'; }
    @else if $icon == 'info'                  { content: '\2139'; }
    @else if $icon == 'target'                { content: '\e02a'; }
    @else if $icon == 'cursor'                { content: '\e057'; }
    @else if $icon == 'key_fill'              { content: '\26bf'; }
    @else if $icon == 'minus'                 { content: '\2796'; }
    @else if $icon == 'book_alt'              { content: '\e00b'; }
    @else if $icon == 'headphones'            { content: '\e061'; }
    @else if $icon == 'hash'                  { content: '\0023'; }
    @else if $icon == 'arrow_left_alt1'       { content: '\e013'; }
    @else if $icon == 'arrow_left_alt2'       { content: '\e017'; }
    @else if $icon == 'fullscreen_exit'       { content: '\e050'; }
    @else if $icon == 'share'                 { content: '\e02e'; }
    @else if $icon == 'fullscreen_alt'        { content: '\e04f'; }
    @else if $icon == 'comment_alt2_fill'     { content: '\e004'; }
    @else if $icon == 'moon_fill'             { content: '\263e'; }
    @else if $icon == 'at'                    { content: '\0040'; }
    @else if $icon == 'chat'                  { content: '\e05e'; }
    @else if $icon == 'move_vertical_alt2'    { content: '\e03d'; }
    @else if $icon == 'move_vertical_alt1'    { content: '\e03c'; }
    @else if $icon == 'check'                 { content: '\2717'; }
    @else if $icon == 'mic'                   { content: '\e05f'; }
    @else if $icon == 'book'                  { content: '\e069'; }
    @else if $icon == 'move_alt1'             { content: '\e03f'; }
    @else if $icon == 'move_alt2'             { content: '\e040'; }
    @else if $icon == 'document_fill'         { content: '\e066'; }
    @else if $icon == 'plus'                  { content: '\2795'; }
    @else if $icon == 'wrench'                { content: '\e078'; }
    @else if $icon == 'play'                  { content: '\e047'; }
    @else if $icon == 'star'                  { content: '\2605'; }
    @else if $icon == 'document_alt_fill'     { content: '\e000'; }
    @else if $icon == 'chart'                 { content: '\e028'; }
    @else if $icon == 'rain'                  { content: '\26c6'; }
    @else if $icon == 'folder_fill'           { content: '\e065'; }
    @else if $icon == 'new_window'            { content: '\e059'; }
    @else if $icon == 'user'                  { content: '\e062'; }
    @else if $icon == 'battery_half'          { content: '\e05b'; }
    @else if $icon == 'aperture_alt'          { content: '\e00c'; }
    @else if $icon == 'eject'                 { content: '\e04b'; }
    @else if $icon == 'arrow_down_alt1'       { content: '\e016'; }
    @else if $icon == 'pilcrow'               { content: '\00b6'; }
    @else if $icon == 'arrow_down_alt2'       { content: '\e01a'; }
    @else if $icon == 'arrow_right_alt1'      { content: '\e015'; }
    @else if $icon == 'arrow_right_alt2'      { content: '\e019'; }
    @else if $icon == 'rss_alt'               { content: '\e02d'; }
    @else if $icon == 'spin_alt'              { content: '\e037'; }
    @else if $icon == 'sun_fill'              { content: '\2600'; }
  }
