/*

Functions

For 99% of the framework I used Compass' and Susy's functions but I've made some for covering edge cases.

Styleguide 27

*/


/*

neg()

Convert a value to negative.

Example:

    left: neg(10em);

Become:

    left: -10em

Styleguide 27.2

*/

@function neg($n) {
    @return (0 - $n);
}



// Failbacks
// ----------------------------------------------------------------------------

@function columns-width(
  $columns  : $grid-columns
) {
  @return ($columns * $column) + (if($columns >= 1, ceil($columns - 1), 0) * $gutter);
}

@function relative-width(
  $width,
  $context : $grid-columns
) {
  @return percentage($width / columns-width($context));
}

@function column(
  $context  : $grid-columns
) {
  @return relative-width($column, $context);
}

@function columns(
  $columns,
  $context  : $grid-columns
) {
  @return relative-width(columns-width($columns), $context);
}

@function gutter(
  $context  : $grid-columns
) {
  @return relative-width($gutter, $context);
}


@function space(
  $columns,
  $context  : $grid-columns
) {
  @return columns($columns, $context) + if($columns >= 1, gutter($context), 0);
}
