//
// Pagination (multiple pages)
// --------------------------------------------------
@if $pagination {

	[class^="pagination"] {
		margin: rhythm() 0;

		> * {
			@include border-radius($base-border-radius);
			@include inline-block();
			margin-bottom: 0;
			margin-left: $input-border;
			margin-left: 0;

			li {
				display: inline-block;
				// float: left;

				a,
				span {
					display: inline-block;
					padding: $pagination-padding;
					line-height: 1em;
					text-decoration: none;
					border-width: $input-border;
					border-left-width: 0;
					border-style: solid;
					margin-left: -$input-border;
					@extend %pagination_btn !optional;
				}
			}


			li > a:hover,
			li > a:focus {
				@extend %pagination_btn-hover !optional;
			}

			// Bootstrap
			.active > a,
			.active > a:hover,
			.active > span,
			.active > span:hover,

			// WP Paginate
			.current,
			.current:hover {
				@extend %pagination_btn-active !optional;
			}

			.disabled > span,
			.disabled > a,
			.disabled > a:hover,
			.disabled > a:focus {
				@extend %pagination_btn-disabled !optional;
			}

			.active > a,
			.active > span,
			.disabled > span,
			.disabled > a,
			.disabled > a:hover,
			.disabled > a:focus {
				cursor: default;
			}
		}

		// Alignment
		// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		&[class*="-center"] {text-align: center; }
		&[class*="-right"] 	{text-align: right; }

		// Rounded sides
		// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		&[class*="-rounded"] {
			li:first-child > a,
			li:first-child > span {
				border-left-width: 1px;
				@include border-left-radius($base-border-radius);
			}

			li:last-child > a,
			li:last-child > span {
				@include border-right-radius($base-border-radius);
			}
		}

	}
}