@if $tabs {

	.tab-container {
		margin-bottom: rhythm();

		.etabs {
			margin: 0;
			padding: 0;
			@extend %tab-nav !optional;

			li {
				display: inline-block;
				zoom: 1;

				a {
					line-height: 1em;
					display: block;
					padding: $tabs-tab-padding;
					outline: none;
					@include border-radius($base-border-radius $base-border-radius 0 0);
					@extend %tab-btn !optional;

					&:hover {
						@extend %tab-btn_hover !optional;
					}
				}

				&.active {
					a {
						position: relative;
						font-weight: bold;
						@extend %tab-btn_current !optional;

						&:after {
							@include position(absolute, 0 0px -1px 0px);
							height: 2px;
							display: block;
							content: "";
						}
					}

				}

			}
		}

		.panel-container {
			@extend %tab-container !optional;
			@include border-radius(0 $base-border-radius $base-border-radius );
			> div {padding: $tabs-content-padding;}
		}

	}

}