// Debug mode
// ====================================================================================================================

@if $debug-mode {

	:empty { outline:5px solid yellow;}

	img {outline: 5px solid red;}
	img[alt] {outline: none;}
	img[alt=""] {outline: 5px solid yellow;}

	a {outline: 5px solid yellow;}

	a[title] {outline: none;}
	a[href="#"], a[href*="javascript"] {outline: 5px solid yellow;}


	a[target] {outline: 5px solid yellow;}

	ul,	ol {
		> *:not(li){
			outline:5px solid red;
		}
	}

	th {outline: 5px solid yellow;}
	th[scope] {outline: none;}
	table > tr {outline: 5px solid yellow;}
	tbody + tfoot {outline: 5px solid yellow;}


	form {outline: 5px solid red;}
	form[action] {outline: none;}

	textarea, input {outline: 5px solid red;}
	input[type] {outline: none;}
	textarea[rows][cols] {outline: none;}
	input[type=submit] {outline: 5px solid red;}
	input[type=submit][value] {outline: none;}

	[style] {outline: 5px solid yellow;}
	[id] {outline: 5px solid yellow;}


	// btn-groups
	// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	.btn-group > li:first-child .btn					{ background: YellowGreen	!important; }
	.btn-group > li:last-child .btn						{ background: Wheat	!important; }
	div.btn-group .btn									{ background: Tomato	!important; }

	.form__controls--multi {
		.btn-group:first-child > li:first-child .btn	{ background: red !important; }
		.btn-group:first-child > li:last-child .btn		{ background: blue !important; }
		div.btn-group:first-child .btn					{ background: green !important; }

		.btn-group:last-child > li:first-child .btn		{ background: purple !important; }
		.btn-group:last-child > li:last-child .btn		{ background: yellow !important; }
		div.btn-group:last-child > .btn					{ background: teal !important; }
	}

}