/*

Icon Fonts

*/

// Brandico
//

@if $use-brandico {
    @font-face {
        font-family: 'brandico';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot');
        src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/brandico/brandico.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/brandico/brandico.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/brandico/brandico.svg#brandico') format('svg');
    }

    .branico {
      display: inline-block;
      font-family: 'branico';
    }
}

// Entypo

@if $use-entypo {
    @font-face {
        font-family: 'entypo';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
        src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
    }

    .entypo {
      display: inline-block;
      font-family: 'entypo';
    }
}

// Fontawesome

@if $use-fontawesome {
    @font-face {
        font-family: 'FontAwesome';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot');
        src: url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    }

    .fontawesome {
      display: inline-block;
      font-family: 'FontAwesome';
    }
}

// Fontelico

@if $use-fontelico {
    @font-face {
        font-family: 'fontelico';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/fontelico/fontelico.eot');
        src: url('http://weloveiconfonts.com/api/fonts/fontelico/fontelico.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/fontelico/fontelico.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/fontelico/fontelico.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/fontelico/fontelico.svg#fontelico') format('svg');
    }

    .fontelico {
      display: inline-block;
      font-family: 'fontelico';
    }
}

// Maki

@if $use-maki {
    @font-face {
        font-family: 'maki';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/maki/maki.eot');
        src: url('http://weloveiconfonts.com/api/fonts/maki/maki.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/maki/maki.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/maki/maki.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/maki/maki.svg#maki') format('svg');
    }

    .maki {
      display: inline-block;
      font-family: 'maki';
    }
}

// Openweb Icons

@if $use-openweb-icons {
    @font-face {
        font-family: 'OpenWeb Icons';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/openwebicons/openwebicons.eot');
        src: url('http://weloveiconfonts.com/api/fonts/openwebicons/openwebicons.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/openwebicons/openwebicons.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/openwebicons/openwebicons.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/openwebicons/openwebicons.svg#openweb_iconsregular') format('svg');
    }

    .openwebicons {
      display: inline-block;
      font-family: 'OpenWeb Icons';
    }
}

// Typicons

@if $use-typicons {
    @font-face {
        font-family: 'Typicons';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/typicons/typicons-regular-webfont.eot');
        src: url('http://weloveiconfonts.com/api/fonts/typicons/typicons-regular-webfont.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/typicons/typicons-regular-webfont.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/typicons/typicons-regular-webfont.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/typicons/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
    }

    .typicons {
      display: inline-block;
      font-family: 'Typicons';
    }
}

// Zocial

@if $use-zocial {
    @font-face {
        font-family: 'zocial';
        font-style: 'normal';
        font-weight: 'normal';
        src: url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.eot');
        src: url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.eot?#iefix') format('eot'),
        url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.woff') format('woff'),
        url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.ttf') format('truetype'),
        url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.svg#zocialregular') format('svg');
    }

    .zocial {
      display: inline-block;
      font-family: 'zocial';
    }
}

