// ====================================================================================================================
// MIXINS
// ====================================================================================================================

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Base
// --------------------------------------------------------------------------------------------------------------------
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Shortcuts
// --------------------------------------------------------------------------------------------------------------------
@mixin size($height, $width) {
	width: $width;
	height: $height;
}
@mixin square($size) {
	@include size($size, $size);
}

@mixin position ($position: relative, $coordinates: 0 0 0 0) {

	@if type-of($position) == list {
		$coordinates: $position;
		$position: relative;
	}

	$top: nth($coordinates, 1);
	$right: nth($coordinates, 2);
	$bottom: nth($coordinates, 3);
	$left: nth($coordinates, 4);

	position: $position;

	@if $top == auto {
		top: $top;
	}
	@else if not(unitless($top)) {
		top: $top;
	}

	@if $right == auto {
		right: $right;
	}
	@else if not(unitless($right)) {
		right: $right;
	}

	@if $bottom == auto {
		bottom: $bottom;
	}
	@else if not(unitless($bottom)) {
		bottom: $bottom;
	}

	@if $left == auto {
		left: $left;
	}
	@else if not(unitless($left)) {
		left: $left;
	}
}

@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin center ($width, $height: null) {
	@include position(absolute, 50% 0 0 50%);
	margin-left: -($width / 2);
	@if $height { margin-top: -($height / 2); }
	@else { margin-top: -($width / 2);  }
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Forms
// --------------------------------------------------------------------------------------------------------------------
@mixin placeholder($color: $gray) {
	&:-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color: $color;
	}
}

@mixin tab-focus() {}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Text overflow
// --------------------------------------------------------------------------------------------------------------------
@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


@mixin hide-text {
	color:            transparent;
	font:             0/0 a;
	text-shadow:      none;
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Pseudo Elements
// --------------------------------------------------------------------------------------------------------------------
@mixin triangle ($size, $color, $direction) {
	height: 0;
	width: 0;

	@if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
		border-color: transparent;
		border-style: solid;
		border-width: $size / 2;

		@if $direction == up {
			border-bottom-color: $color;
		} @else if $direction == right {
			border-left-color:   $color;
		} @else if $direction == down {
			border-top-color:    $color;
		} @else if $direction == left {
			border-right-color:  $color;
		}
	}

	@else if ($direction == up-right) or ($direction == up-left) {
		border-top: $size solid $color;

		@if $direction == up-right {
			border-left:  $size solid transparent;
		} @else if $direction == up-left {
			border-right: $size solid transparent;
		}
	}

	@else if ($direction == down-right) or ($direction == down-left) {
		border-bottom: $size solid $color;

		@if $direction == down-right {
			border-left:  $size solid transparent;
		} @else if $direction == down-left {
			border-right: $size solid transparent;
		}
	}
}

// For now only side triangles with border
@mixin triangle_border($size, $color, $border-color, $border-width, $direction) {

	$border-width-fix: '';

	@if $border-width == 1px {
		$border-width-fix: $border-width * 4;
	} @else {
		$border-width-fix: $border-width * 2;
	}

	$bg-size: $size + $border-width-fix;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;

		@if $direction == 'right' { left: -($border-width); }
		@if $direction == 'left' { right: -($border-width); }
	}

	&:before {
		@include triangle($size, $color, $direction);
		margin-top: -($size / 2);
		z-index: 2;
	}

	&:after {
		@include triangle($bg-size, $border-color, $direction);
		margin-top: -($bg-size / 2);
		zoom: 1;
	}
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Colors
// --------------------------------------------------------------------------------------------------------------------
@mixin text-inset-shadow($bg: #fff, $textcolor: #054d4a, $contrast:  #f43059) {
	$shadow: darken($textcolor, 30%);

	color: rgba($textcolor, 0.8);
	text-shadow: 1px 5px 7px $bg, 0 0 0 rgba($shadow,.8);
}

@mixin alpha-color($color: #fff, $alpha: .5, $attribute: background) {
	@if $attribute == color {
		color: $color;
		color: rgba($color, $alpha);
	} @else {
		#{$attribute}-color: $color;
		#{$attribute}-color: rgba($color, $alpha);
	}
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Keyframes support
// --------------------------------------------------------------------------------------------------------------------
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Components
// --------------------------------------------------------------------------------------------------------------------

@mixin nav-divider($top: #e5e5e5, $bottom: false) {
	*width: 100%;

	@if $bottom {
		height: 2px;
	} @else {
		height: 1px;
	}

	overflow: hidden;
	background-color: $top;
	@if $bottom { border-bottom: 1px solid $bottom; }
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Images
// --------------------------------------------------------------------------------------------------------------------
@mixin shadow-comicbook($padding: 5px, $color: #bbb, $size: 15px, $distance: 10px) {

	$lightColor: lighten($color, 8);
	$degree: $size/1px;

	@include box-shadow(0 1px 3px $color);
	border:5px solid #fff;
	display: inline-block;
	line-height: 0;
	position: relative;

	&:before,
	&:after {
		// border: 0;
		background-color: $lightColor;
		content: '';
		z-index: -1;
		position: absolute;
		left: $distance;
		bottom: $distance;
		width: 70%;
		height: 55%;
		@include box-shadow(0 $size $size+1 $lightColor);
		@include transform(skew(-15deg) rotate(-6deg));
	}

	&:after {
		left: auto;
		right: $distance+1;
		@include transform(skew(15deg) rotate(6deg));

	}
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Icon Fonts
// --------------------------------------------------------------------------------------------------------------------
@mixin icon-font($char: '\f013', $font: 'FontAwesome') {
	display: inline-block;
	font-family: $font;
	content: "#{$char}";
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// GRID
// --------------------------------------------------------------------------------------------------------------------
// @include columns( $cols, $cols-container: $total-columns, $omega: false,  $nth-omega: false, $remove-omega: false, $from: left, $media: all, $highlight-omega: false );

@mixin columns (
	$cols,
	$cols-container: $total-columns,
	$omega: false,
	$nth-omega: false,
	$remove-omega: false,
	$from: left,
	$media: all,
	$highlight-omega: false
	) {

	@include media($media) {
		$direction: left;

		@if $from != left { $direction: right; }

		@include span-columns($cols, $cols-container, $from: $direction);
		@if $omega { @include omega($from: $direction); }
		@if $nth-omega { @include nth-omega($nth-omega, $from: $direction); }
		@if $remove-omega { @include remove-omega; }
		@if $highlight-omega  {
			@if $omega { background: blue; }
			@if $nth-omega { &:nth-child(#{$nth-omega}) {background: blue;} }
		}
	}
}