// ====================================================================================================================
// SPRITES
// ====================================================================================================================


.s {
	content: "";
	display: inline-block;
	overflow:hidden;
	vertical-align:middle;
	text-align:center;
	font-style:normal;
	zoom:1;
	*text-indent:-9999px;
}

@include all-s-sprites(true);

@mixin sprite($name) {
	@extend .s;
	@extend .s-#{$name};
}
